@{
    ViewData["Title"] = "Dashboard TLIP";
    var plans = ViewBag.Plans as IEnumerable<Manage_Receive_Issues_Goods.Models.Planreceivetlip>;
    var suppliers = ViewBag.Suppliers as IEnumerable<Manage_Receive_Issues_Goods.Models.Supplier>;

    var currentPlanId = ViewBag.CurrentPlanId;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/lib/framework/select2/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/framework/font_awesome/all.min.css">
    <script src="~/lib/framework/chartjs/chart.js"></script>
    <script src="~/lib/framework/select2/select2.min.js"></script>
    <link rel="stylesheet" href="~/css/dashboard.css">

</head>
<body>
    <div style="display: flex; gap: 10px; padding: 20px;">
        <a class="nav-link btn btn-dark" asp-area="" asp-controller="TLIPWarehouse" asp-action="ScheduleReceive">Back</a>
    </div>

    <div class="container">
        <!-- Dropdown plan-->
        <div class="form-group">
            <label for="planDropdown">Chọn kế hoạch:</label>
            <select id="planDropdown" class="form-control">
                @foreach (var plan in plans)
                {
                    <option value="@plan.PlanId" selected="@(plan.PlanId == currentPlanId ? "selected" : " ")">
                        @plan.PlanName
                    </option>
                }
            </select>
        </div>
        <div class="sticky-container">
            <!-- Dropdown month bar trip-->
            <div class="form-group">
                <label for="monthTripDropdown">Chọn tháng:</label>
                <select id="monthTripDropdown" class="form-control">
                    <option value="1">Tháng 1</option>
                    <option value="2">Tháng 2</option>
                    <option value="3">Tháng 3</option>
                    <option value="4">Tháng 4</option>
                    <option value="5">Tháng 5</option>
                    <option value="6">Tháng 6</option>
                    <option value="7">Tháng 7</option>
                    <option value="8">Tháng 8</option>
                    <option value="9">Tháng 9</option>
                    <option value="10">Tháng 10</option>
                    <option value="11">Tháng 11</option>
                    <option value="12">Tháng 12</option>
                </select>
            </div>
            <!-- Dropdown supplier -->
            <div class="form-group">
                <label for="supplierDropdown">Chọn mã Nhà Cung Cấp:</label>
                <div style="display: flex; align-items: center;">
                    <select id="supplierDropdown" class="form-control">
                        <option value="">Tất cả</option>
                        @foreach (var supplier in suppliers)
                        {
                            <option value="@supplier.SupplierCode">@supplier.SupplierCode - @supplier.SupplierName</option>
                        }
                    </select>
                    <button id="searchSupplierButton" class="btn btn-secondary" style="margin-left: 10px;">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>


        <div class="chart-container">
            <!-- Legend plan-->
            <div id="legend" class="sticky-legend" style="margin-top: 20px; text-align: center;">
                <div><h4><strong><i>Tổng số chuyến:</i></strong></h4></div>
                <ul style="list-style: none; padding: 0; display: inline-flex; gap: 20px;">
                    <li><span style="display: inline-block; width: 20px; height: 20px; background-color: #737373; margin-right: 10px;"></span><i>Kế hoạch</i></li>
                    <li><span style="display: inline-block; width: 20px; height: 20px; background-color: #00BF13; margin-right: 10px;"></span><i>Thực tế</i></li>
                </ul>
            </div>

            <!-- barChartTrip -->
            <div class="container-body">
                <div style="display: flex;">
                    <!--Chart phụ-->
                    <div class="y-axis-container">
                        <canvas id="barChartTripYAxis"></canvas>
                    </div>

                    <div class="main-chart-container">
                        <div class="box">
                            <canvas id="barChartTrip"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="chart-container">
            <!-- Legend hanlde time-->
            <div id="legend" class="sticky-legend" style="margin-top: 20px; text-align: center;">
                <div><h4><strong><i>Thời gian xử lý:</i></strong></h4></div>
                <ul style="list-style: none; padding: 0; display: inline-flex; gap: 20px;">
                    <li><span style="display: inline-block; width: 20px; height: 20px; background-color: #41B8D5; margin-right: 10px;"></span><i>Nhanh nhất</i></li>
                    <li><span style="display: inline-block; width: 20px; height: 20px; background-color: #FFBD59; margin-right: 10px;"></span><i>Trung bình</i></li>
                    <li><span style="display: inline-block; width: 20px; height: 20px; background-color: #FF3131; margin-right: 10px;"></span><i>Lâu nhất</i></li>
                    <li><span style="display: inline-block; width: 20px; height: 20px; background-color: #737373; margin-right: 10px;"></span><i>Kế hoạch</i></li>
                </ul>
            </div>

            <!-- barChartTrip -->
            <div class="container-body">
                <div style="display: flex;">
                    <!--Chart phụ-->
                    <div class="y-axis-container">
                        <canvas id="barChartHandleTimeYAxis"></canvas>
                    </div>

                    <div class="main-chart-container">
                        <div class="box">
                            <canvas id="barChartHandleTime"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart-container">
            <!-- Legend late delivery-->
            <div id="legend" class="sticky-legend" style="margin-top: 20px; text-align: center;">
                <div><h4><strong><i>Chuyến bị trễ so với kế hoạch & chuyến nhận thực tế:</i></strong></h4></div>
                <ul style="list-style: none; padding: 0; display: inline-flex; gap: 20px;">
                    <li><span style="display: inline-block; width: 20px; height: 20px; background-color: #00BF63; margin-right: 10px;"></span><i>Tổng thực tế</i></li>
                    <li><span style="display: inline-block; width: 20px; height: 20px; background-color: #FFDE59; margin-right: 10px;"></span><i>Bị trễ</i></li>
                </ul>
            </div>

            <!-- barChartTrip -->
            <div class="container-body">
                <div style="display: flex;">
                    <!--Chart phụ-->
                    <div class="y-axis-container">
                        <canvas id="barChartDeliveryYAxis"></canvas>
                    </div>

                    <div class="main-chart-container">
                        <div class="box">
                            <canvas id="barChartDelivery"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    @section Scripts {
        <script src="~/js/tlip/dashboard.js"></script>
    }
</body>
</html>
